<app-default-login-layout 
    title="Sign in and start today!"
    primaryBtText="Sign Up Now"
    secondaryBtText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disableBtn]="!signupForm.valid"
    
>
    <form [formGroup]="signupForm">
        <app-input
            label="Username"
            formControlName="username"
            type="text"
            inputName="username"
            placeholder="Enter your username"
            [primary]="true"
        >
            <img src="/assets/svg/email-icon.svg" />
        </app-input>
       <app-input
           label="Email Address"
           formControlName="email"
           type="email"
           inputName="email"
           placeholder="Enter your email"
           [primary]="true"
        >
            <img src="/assets/svg/email-icon.svg" />
        </app-input>

        <app-input
            label="Password"
            formControlName="password"
            type="password"
            inputName="password"
            placeholder="Enter your password"
            [primary]="true"
        >
            <img src="/assets/svg/password-icon.svg" />
        </app-input>
        <app-input
            label="Password Confirmation"
            formControlName="passwordConfirm"
            type="password"
            inputName="passwordConfirm"
            placeholder="Repeat your password"
            [primary]="true"
        >
            <img src="/assets/svg/password-icon.svg" />
        </app-input>
    </form>
</app-default-login-layout>